@use 'sass:color' as color;

///////////////////////////////////////////////////////////////////////////////
/// Shikakeの色定義
///     テーマカラーをベースにして、黒、白、グレー、三原色と黄色を定義
///     色の調整率を定義して、各色の明暗を定義
///////////////////////////////////////////////////////////////////////////////

// テーマカラー
$shikakeThemeColor: #1386b4;

// 黒と白とグレー
$shikakeBlack: color.mix(#000000, $shikakeThemeColor, 95%);
$shikakeWhite: color.mix(#ffffff, $shikakeThemeColor, 95%);
$shikakeGray: color.mix(#8a8a8a, $shikakeThemeColor, 95%);

// 三原色＋黄色
$themeDependencyRate: 47%;
$shikakeRed: color.mix(#ff0000, $shikakeThemeColor, $themeDependencyRate);
$shikakeGreen: color.mix(#00ff00, $shikakeThemeColor, $themeDependencyRate);
$shikakeBlue: color.mix(#0000ff, $shikakeThemeColor, $themeDependencyRate);
$shikakeYellow: color.mix(#ffff00, $shikakeThemeColor, $themeDependencyRate);

// 色の調整率
$colorRates: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
// 色名称定義
$colorNames: 'gray', 'theme-color', 'red', 'green', 'blue', 'yellow';

:root {
    // グレースケール
    --shikake-gray: #{color.adjust($shikakeGray)};
    @each $rate in $colorRates {
        --shikake-dark-gray-#{$rate}: #{color.mix(
                $shikakeGray,
                $shikakeBlack,
                $rate * 1%
            )};
        --shikake-light-gray-#{$rate}: #{color.mix(
                $shikakeGray,
                $shikakeWhite,
                $rate * 1%
            )};
    }

    --shikake-black: #{color.adjust($shikakeBlack)};
    --shikake-black-soft: var(--shikake-dark-gray-50);
    --shikake-black-x-soft: var(--shikake-dark-gray-70);
    --shikake-black-xx-soft: var(--shikake-dark-gray-100);
    --shikake-white: #{color.adjust($shikakeWhite)};
    --shikake-white-soft: var(--shikake-light-gray-50);
    --shikake-white-x-soft: var(--shikake-light-gray-70);
    --shikake-white-xx-soft: var(--shikake-light-gray-100);

    // テーマカラー
    --shikake-theme-color: #{color.adjust($shikakeThemeColor)};
    @each $rate in $colorRates {
        --shikake-dark-theme-color-#{$rate}: #{color.mix(
                $shikakeThemeColor,
                $shikakeBlack,
                $rate * 1%
            )};
        --shikake-light-theme-color-#{$rate}: #{color.mix(
                $shikakeThemeColor,
                $shikakeWhite,
                $rate * 1%
            )};
    }

    // 赤
    --shikake-red: #{color.adjust($shikakeRed)};
    @each $rate in $colorRates {
        --shikake-dark-red-#{$rate}: #{color.mix(
                $shikakeRed,
                $shikakeBlack,
                $rate * 1%
            )};
        --shikake-light-red-#{$rate}: #{color.mix(
                $shikakeRed,
                $shikakeWhite,
                $rate * 1%
            )};
    }

    // 緑
    --shikake-green: #{color.adjust($shikakeGreen)};
    @each $rate in $colorRates {
        --shikake-dark-green-#{$rate}: #{color.mix(
                $shikakeGreen,
                $shikakeBlack,
                $rate * 1%
            )};
        --shikake-light-green-#{$rate}: #{color.mix(
                $shikakeGreen,
                $shikakeWhite,
                $rate * 1%
            )};
    }
    // 青
    --shikake-blue: #{color.adjust($shikakeBlue)};
    @each $rate in $colorRates {
        --shikake-dark-blue-#{$rate}: #{color.mix(
                $shikakeBlue,
                $shikakeBlack,
                $rate * 1%
            )};
        --shikake-light-blue-#{$rate}: #{color.mix(
                $shikakeBlue,
                $shikakeWhite,
                $rate * 1%
            )};
    }
    // 黄
    --shikake-yellow: #{color.adjust($shikakeYellow)};
    @each $rate in $colorRates {
        --shikake-dark-yellow-#{$rate}: #{color.mix(
                $shikakeYellow,
                $shikakeBlack,
                $rate * 1%
            )};
        --shikake-light-yellow-#{$rate}: #{color.mix(
                $shikakeYellow,
                $shikakeWhite,
                $rate * 1%
            )};
    }
}
