///////////////////////////////////////////////////////////////////////////////
// Homeで使うローカルスタイル
///////////////////////////////////////////////////////////////////////////////

/*
 * Homeのタイトル
 */
#main-title {
    display: none;
}

/**
 * フッタのスタイル
 */
.footer {
    color: var(--shikake-light-gray-50);
    font-size: xx-small;
    border-top: var(--shikake-dark-gray-75) 1px solid;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: 3rem;
    padding: 0.5rem 0;
    /* フッタのコンテンツ */
    span {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

///////////////////////////////////////////////////////////////////////////////
// img スタイル
///////////////////////////////////////////////////////////////////////////////

div#content {
    p {
        text-indent: 0.75rem;
    }
    ul,
    ol,
    dl {
        margin-left: 2.5rem;
    }
    ul.fa-ul {
        margin-left: 4rem;
    }
}
